# --- build outputs ---
sim/build/
sim/flightbox/web/cc.js
sim/flightbox/web/cc.wasm
sim/flightbox/web/cc.data
*.o
*.elf


# --- vendored / generated (recreated by build scripts) ---
sim/inav-src/
sim/inav-sitl/
sim/aircraft/SITL.elf
**/eeprom.bin

# --- logs & temp ---
*.log

# --- windows download markers ---
*Zone.Identifier
